@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

form > label, input, select {
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

form > .form-label {
    position: relative;
    float: left;
    color: white;
}

form > .form-label:nth-child(5) {
    float: right;
}

form > input[type=text] {
    position: relative;
    float: left;
}

form > input:nth-child(2) {
    float: right;
}

#search-section {
    background-color: #063839;
    opacity: 90%;
    z-index: -1;
}

.header-item1:nth-child(2) {
    font-size: 40px;
    color: #B16262;
}

.header-item1:nth-child(2) > strong {
    color: white;
    font-weight: 600;
}

.header-item1:last-child {
    color: #063839;
    font-weight: bold;
}

#header-item-list > li {
    font-weight: bold;
    color: #063839;
}


.fa-angle-right {
    font-size: 48px;
    color: lightgoldenrodyellow;
}

button#submit-btn:hover .fa-angle-right{
    padding: 0px;
    font-size: 60px;
    color: white;
}
button#submit-btn {
    background-color: #B16262;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/*.background-image{*/
/*    height: 500px;*/
/*    font-size: 20px;*/
/*    float: left;*/
/*}*/
/*#background-image1{*/
/*    background-color: dodgerblue;*/
/*}*/
/*#background-image2{*/
/*    background-color: hotpink;*/
/*}*/
/*#background-image3{*/
/*    background-color: rebeccapurple;*/
/*}*/


/*header style*/
@media screen and (min-width: 769px) {
    #header-item-list {
        position: fixed;
        right: 0;
        left: 0;
        top: 2%;
        margin: auto;
        width: 33%;
        padding: 15px;
    }

    .header-item {
        float: left;
        margin-top: 5px;
        font-size: 18px;
    }

    .header-item:not(:last-child) {
        margin-right: 10%;
    }

    img#logo-image {
        height: 30px;
    }

    #header-item-list1 {
        position: fixed;
        top: 20px;
        right: 0;
        width: 24%;
        text-align: center;
    }

    .header-item1:nth-child(2) {
        font-size: 40px;
    }

    .header-item1:first-child {
        position: fixed;
        right: 7%;
        top: 10px;
    }

    body {
        background-image: url("../images/largewallpaper.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    #search-section {
        border-radius: 90px;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: auto;
        width: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }

    form > label:nth-child(4), label:nth-child(5) {
        width: 43%;
    }

    form > label:not(.form-label:nth-child(1), .form-label:nth-child(4) , .form-label:nth-child(5) , .form-label:nth-child(10)) {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .form-label:first-child {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    form > label {
        font-weight: bold;
    }

    form > input[type=text] {
        width: 43%;
        opacity: 50%;
        font-weight: bold;
        border: #707070 solid 1px;
        border-radius: 12px;
    }

    form > input[type=date], select {
        opacity: 50%;
        border: #707070 solid 1px;
        font-weight: bold;
        border-radius: 12px;
    }

    button#submit-btn {
        width: 100px;
        height: 70px;
        border-radius: 50%;
        margin: 10px 37%;
    }
}


@media (max-width: 768px) {
    #header-item-list {
        position: relative;
        right: 0;
        left: 0;
        top: 2%;
        margin: auto;
        width: 250px;
        padding: 10px;
        z-index: 2;
    }

    .header-item {
        float: left;
        margin-top: 5px;
        font-size: 18px
    }

    .header-item:not(:last-child) {
        margin-right: 10%;
    }

    img#logo-image {
        height: 30px;
    }

    #header-item-list1 {
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        width: 300px;
        text-align: center;
    }

    #header-item-list1 > li {
        z-index: 1;
    }

    .header-item1:first-child {
        position: relative;
        right: 0;
        top: 25px;
    }

    body {
        background-image: url("../images/smallwallpaper.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    #search-section {
        border-radius: 25px;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 72%;
        padding-left: 10%;
        padding-right: 10%;
    }

    form {
        padding-top: 100px;
    }

    form > label:nth-child(4), label:nth-child(5) {
        width: 40%;
    }

    form > label:not(.form-label:nth-child(1), .form-label:nth-child(4) , .form-label:nth-child(5) , .form-label:nth-child(10)) {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .form-label:first-child {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    form > label {
        font-weight: bold;
    }

    form > input[type=text] {
        width: 43%;
        opacity: 50%;
        font-weight: bold;
        border: #707070 solid 1px;
        border-radius: 12px;
    }

    form > input[type=date], select {
        opacity: 50%;
        border: #707070 solid 1px;
        font-weight: bold;
        border-radius: 12px;
    }

    button#submit-btn {
        padding: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin: 50px 37%;
    }
}



