* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/*.background-image{*/
/*    height: 500px;*/
/*    font-size: 20px;*/
/*    float: left;*/
/*}*/
/*#background-image1{*/
/*    background-color: dodgerblue;*/
/*}*/
/*#background-image2{*/
/*    background-color: hotpink;*/
/*}*/
/*#background-image3{*/
/*    background-color: rebeccapurple;*/
/*}*/


/*header style*/
@media screen and (min-width: 769px) {
    #header-item-list {
        position: fixed;
        right: 0;
        left: 0;
        top: 2%;
        margin: auto;
        width: 30%;
        padding: 15px;
    }

    .header-item {
        float: left;
        margin-top: 5px;
        font-size: 18px;
    }

    .header-item:not(:last-child) {
        margin-right: 10%;
    }

    img#logo-image {
        height: 30px;
    }

    #header-item-list1 {
        position: fixed;
        top: 20px;
        right: 0;
        width: 25%;
        text-align: center;
    }

    .header-item1:nth-child(2) {
        font-size: 40px;
    }

    .header-item1:first-child {
        position: fixed;
        right: 7%;
        top: 10px;
    }

    body {
        background-image: url("../images/largewallpaper.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }

    #background-image1 {
    background-color: #063839;
        position: absolute;
        top: 10%;
        left: 0;
        right: 0;
        margin: auto;
        width: 30%;
        padding-left: 10%;
        padding-right: 10%;
    }
   
}


@media (max-width: 768px) {
    #header-item-list {
        position: relative;
        right: 0;
        left: 0;
        top: 2%;
        margin: auto;
        width: 230px;
        padding: 15px;
        z-index: 2;
    }

    .header-item {
        float: left;
        margin-top: 5px;
        font-size: 18px;
    }

    .header-item:not(:last-child) {
        margin-right: 10%;
    }

    img#logo-image {
        height: 30px;
    }

    #header-item-list1 {
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        width: 300px;
        text-align: center;
    }

    .header-item1:nth-child(2) {
        font-size: 40px;
    }

    .header-item1:first-child {
        position: relative;
        right: 48px;
        top: 25px;
    }

    body {
        background-image: url("../images/smallwallpaper.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
}



